.borderline {
    border: 1px solid black;
    margin-top: 10px;
}

.flex-container {
    display: flex;
}

header, nav, footer {
    width: 100%;
    height: 100px;
}

main, aside {
    flex: 1;
    height: 100vh;
}

main {
    margin-right: 20px; /* Adjust margin */
}

footer {
    clear: both;
}
