.borderline {
    border: 1px solid black;
    margin-top: 10px;
}

.flex-container {
    display: flex;
}

header, nav, footer {
    flex: 0 0 100%;
    height: 100px;
}

aside, main {
    flex: 1;
    height: 100vh;
    display: flex;
}

main {
    margin: 0 10px;
}
